@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0%;
    margin: 0%;
    background-image: url("cool-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}
#container{
    /* background-color: aqua; */
    backdrop-filter: blur(6px) saturate(157%);
    -webkit-backdrop-filter: blur(6px) saturate(157%);
    background-color: rgba(34, 53, 90, 0.65);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    -webkit-box-shadow: -3px 16px 90px -30px rgba(46,46,46,0.87);
-moz-box-shadow: -3px 16px 90px -30px rgba(46,46,46,0.87);
box-shadow: -3px 16px 90px -30px rgba(46,46,46,0.87);
    padding: 2rem;
    /* opacity: 70%; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#others{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    /* background-color: rgb(88, 64, 64); */
}
#humid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
#humid_1 h4,p{
    padding: 0%;
    margin: 0%;
    color: antiquewhite;
}
#wind{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
#wind_1 h4,p{
    padding: 0%;
    margin: 0%;
    color: antiquewhite;
}
#others img{
    height: 30px;
    width: 30px;
    padding: 10px;
}
#search input{
    border-radius: 15px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid rgb(135, 135, 135);
    font-size: 15px;
    margin-right: 10px;
    color: white;
    /* background-color: transparent; */
}
#hero{
    text-align: center;
}
#temp{
    color: antiquewhite;
    padding: 0%;
    margin: 0%;
    font-size: 3.5rem;
}
#city{
    color: antiquewhite;
    padding: 0px;
    margin: 0%;
    font-size: 2rem;
    font-weight: 400;
}
#img{
    height: 250px;
    width: 250px;
}
button{
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-weight: 500;
}
